<!-- Page Content -->
<template name="maincontent">
    <div id="page-content-wrapper">
        <div class="container-fluid"> <!-- add the background here! -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Search bar -->
                    <div id="maincontent_container"> 
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control"  placeholder="Search" >
                            <span class="input-group-addon">
                                <button id="add-task" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>  
                            </span>
                        </div>
                    </div> 

                    <!-- Code for tasks goes here -->
                    {{#each tasks}}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <!-- FOR EACH ELEMENT -->
                              <div class="pull-left taskbox">{{task}}</div>
                              {{#each badges}}
                              <div class="pull-right tagbox">{{this}}</div>
                              {{/each}}
                            <!-- END FOR EACH ELEMENT -->
                        </div>
                    </div>
                    {{/each}}

                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Sidebar Menu</a>

                    <br /><br />

                    <!-- Button to add a task within maincontent-modal.html -->
                    <!-- <a href="#" id="add" class="btn btn-primary">Create a task</a> -->     
       
                    <!-- Associate tags and tasks -->
                  
                        <select id="task-dropdown">
                            {{#each tasks}}
                                <option value="{{task}}">{{task}}</option>
                            {{/each}}
                       </select>

                       <select id="tag-dropdown">
                            {{#each tags}}
                                <option value="{{tag}}">{{tag}}</option>
                            {{/each}}
                       </select>

                      <br><br>
                      <input type="submit" class="testButton">

                </div>
            </div>
        </div>
    </div>

     <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</template>
        <!-- /#page-content-wrapper -->
