<template name="sidebar">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">

            <!-- http://bootsnipp.com/snippets/featured/stylish-input-using-icon-font -->
            <!-- Search bar -->
            <div id="sidebar_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
            </div> 

            </li>

            <!-- List of tags -->
            <li>
                <a href="#">Tag 1</a>
            </li>
            <li>
                <a href="#">Tag 2</a>
            </li>
            <li>
                <a href="#">Tag 3</a>
            </li>
            <!-- Create the tag button here 
            <li>
                Create a tag option here! 
            </li>
            -->
        </ul>

    </div>
</template>